<!--<div class="back-to-home pcolor"  ng-click="backToHome()">
    <span class="glyphicon glyphicon-arrow-left"></span> &nbsp; &nbsp; Back to Home
</div>-->
<div class="back-to-home pcolor">
    <!--<span class="glyphicon glyphicon-arrow-left"></span> &nbsp; &nbsp; Back to Home-->
</div>
<div class="text-center">

    <div class="title-box pcolor">
        <img src="images/modal/diploma-icon.png" alt="icon diploma"/>
        <span class="title-box-text">PROGRAMS</span>
    </div>

    <div class="clearfix"></div>

    <div class="modal-home-info">
        <form class="program-checkboxes">
       		<span class="level-of-study" ng-repeat="levelOfStudy in diplomaLevelStudy">
				<input type="checkbox" class="css-checkbox" id="levelradio-{{$index}}" ng-model="levelOfStudy.checked" ng-value="{{levelOfStudy.id}}" checked>
            	<label for="levelradio-{{$index}}" class="css-label lite-x-orange disabled-x">{{levelOfStudy.name}}</label>
            </span>
            <span>
            	<input type="checkbox" class="css-checkbox" id="radio-all" ng-model="isAllSelected" ng-click="toggleAllLevel()">
            	<label for="radio-all" class="css-label lite-x-orange">All</label>
            </span>
            
            <!--<input type="checkbox" class="css-checkbox" id="radio-ug">
            <label for="radio-ug" class="css-label lite-x-orange">Undergraduate</label>
            <input type="checkbox" class="css-checkbox" id="radio-pg">
            <label for="radio-pg" class="css-label lite-x-orange">Postgraduate</label>
            <input type="checkbox" class="css-checkbox" id="radio-phd">
            <label for="radio-phd" class="css-label lite-x-orange">PhD</label>
            <input type="checkbox" class="css-checkbox" id="radio-ot">
            <label for="radio-ot" class="css-label lite-x-orange">Others</label>
            <input type="checkbox" class="css-checkbox" id="radio-all">
            <label for="radio-all" class="css-label lite-x-orange">All</label>-->
        </form>
        <div class="program-intro">
            The university of Oslo also requires for all Undergraduate Programs the
            following minimum requirements:
            <br>
            <br>
            <div class="requirements">
                <ul>
                    <li>High school diploma</li>
                    <li>Completion of grade 11 and 12</li>
                    <li>TOEFL (min score may depend upon programs)</li>
                </ul>
            </div>
            <div class="filters">
                <!--<select class="filter form-control filter-form-control">
                    <option>Engineering</option>
                    <option>Law</option>
                    <option>Design</option>
                </select>
                <select class="filter form-control filter-form-control">
                    <option>Computer Science Engineering</option>
                    <option>Engineering Physics</option>
                    <option>Mechanical Engineering</option>
                </select>-->
                <!--<label for="field-of-study">Filter of a field of study</label>-->
				<select id="field-of-study" class="filter form-control filter-form-control" ng-model="program.diploma_study_id">
					<option value="">ALL</option>
					<option ng-repeat="diploma_study in diplomaStudy" ng-value="{{diploma_study.id}}" >{{diploma_study.name}}</option>
				</select>
		    </div>
            
            <div class="col-sm-12 text-left program-collapse">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel">
                        <div class="panel-heading collapsed" role="tab" id="diploma-headingOne1" data-toggle="collapse" href="#diploma-collapseOne1" aria-expanded="false" aria-controls="diploma-collapseOne1">
                            <div class="col-md-1 panel-title"></div>
                            <div class="col-md-4 panel-title">Name</div>
                            <div class="col-md-5 panel-title">Duration</div>
                            <div class="col-md-2 panel-title">Price</div>
                        </div>
                    </div>
                    
                    <div class="panel" ng-if=" (diplomaLevelStudy | filter:{id: diploma.diploma_level_study_id, checked:true}).length && (program.diploma_study_id == '' || program.diploma_study_id == diploma.diploma_study_id)?true:false;" ng-repeat="diploma in university.diplomas" >
                    	
                        <div class="panel-heading collapsed" ng-click="panelscroll($event)" role="tab" id="diploma-heading-{{diploma.id}}" data-toggle="collapse" href="#diploma-collapse-{{diploma.id}}" aria-expanded="false" aria-controls="diploma-collapse-{{diploma.id}}">
                            <div class="col-md-1 panel-title"><div class="expand-btn btn-xs" href="#"><span class="glyphicon glyphicon-plus"></span></div></div>
                            <!--<div class="col-md-4 panel-title">{{diploma.name | limitTo: 25}}{{diploma.name.length > 25 ? '...' : ''}}<img class="program-flag" src="images/modal/uk_flat.png" height='20px'/></div>-->
                            <div class="col-md-4 panel-title program-title">{{diploma.name}}<img class="program-flag" src="images/modal/uk_flat.png" height='20px'/></div>
                            <div class="col-md-5 panel-title">{{diploma.diplomaSemesters.length}} Semesters</div>
                            <div class="col-md-2 panel-title">{{diploma.price}} $</div>
                        </div>
                        <div id="diploma-collapse-{{diploma.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="diploma-heading-{{diploma.id}}">
                            <div class="panel-body">
                                <div class="rowx">
                                    <div class="col-md-5">
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" ng-class="$index == 0?'active':'';" ng-repeat="semester in diploma.diplomaSemesters"><a href data-target="#semester-{{semester.id}}" aria-controls="#semester-{{semester.id}}" role="tab" data-toggle="tab">Semester {{$index + 1}}</a></li>
                                            <!--<li role="presentation"><a href data-target="#tab2-{{diploma.id}}" aria-controls="tab2-{{diploma.id}}" role="tab" data-toggle="tab">Year 2</a>
                                            </li>
                                            <li role="presentation"><a href data-target="#tab3-{{diploma.id}}" aria-controls="tab3-{{diploma.id}}" role="tab" data-toggle="tab">Year 3</a>
                                            </li>
                                            <li role="presentation"><a href data-target="#tab4-{{diploma.id}}" aria-controls="tab4-{{diploma.id}}" role="tab" data-toggle="tab">Year 4</a>
                                            </li>-->
                                        </ul>
    
                                        <!-- Tab panes -->
                                        <div class="tab-content semester-content">
                                            <div role="tabpanel" class="tab-pane" ng-class="$index == 0 ? 'active':'';" id="semester-{{semester.id}}" data-toggle="tab" ng-repeat="semester in diploma.diplomaSemesters">
	                                            <div ng-if="semester.classes">
	                                            	<h4>Semester Classes</h4>
	                                            	<ul>
	                                            		<li ng-repeat="class in semester.semesterClasses">{{class.name}}</li>
	                                            	</ul>
	                                            </div>
                                                <br><!--Semester {{$index}}-->
                                            </div>
                                            <!--<div role="tabpanel" class="tab-pane" id="tab2-{{diploma.id}}">
                                                <br>tab2</div>
                                            <div role="tabpanel" class="tab-pane" id="tab3-{{diploma.id}}">
                                                <br>tab3</div>
                                            <div role="tabpanel" class="tab-pane" id="tab4-{{diploma.id}}">
                                                <br>tab4</div>-->
                                        </div>
                                    </div>
                                    <div class="col-md-5 program-desc">{{diploma.description}}</div>
                                    <div class="col-md-2 program-fav-btn">
                                    	<span class="glyphicon glyphicon-star-empty"></span>
                                        <br>
                                        <span class="fav-btn-text">Mark Diploma as Favourite</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   <!-- <div class="panel">
                        <div class="panel-heading collapsed" role="tab" id="diploma-heading-4" data-toggle="collapse" href="#diploma-collapse-4" aria-expanded="false" aria-controls="diploma-collapse-4">
                            <div class="col-md-1 panel-title"><div class="expand-btn btn-xs" href="#"><span class="glyphicon glyphicon-plus"></span></div></div>
                            <div class="col-md-4 panel-title">Bachelor in Industrial<img class="program-flag" src="images/modal/uk_flat.png" height='20px'/></div>
                            <div class="col-md-5 panel-title">4 Years</div>
                            <div class="col-md-2 panel-title">15,000 $</div>
                        </div>
                        <div id="diploma-collapse-4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="diploma-heading-4">
                            <div class="panel-body">
                                <div class="rowx">
                                    <div class="col-md-5">
                                        
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active"><a href=""  data-target="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Year 1</a>
                                            </li>
                                            <li role="presentation"><a href data-target="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Year 2</a>
                                            </li>
                                            <li role="presentation"><a href data-target="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Year 3</a>
                                            </li>
                                            <li role="presentation"><a href data-target="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">Year 4</a>
                                            </li>
                                        </ul>
    
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="tab1">
                                                <br>tab1</div>
                                            <div role="tabpanel" class="tab-pane" id="tab2">
                                                <br>tab2</div>
                                            <div role="tabpanel" class="tab-pane" id="tab3">
                                                <br>tab3</div>
                                            <div role="tabpanel" class="tab-pane" id="tab4">
                                                <br>tab4</div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 program-desc">Industrial Design Centre (IDC) is the second oldest design school in India, established in 1969 by the Government of India at the campus of the Indian Institute of Technology Bombay. It offers the following academic programs: an integrated Bachelor of Design degree (B Des) program and an interdisciplinary Master of Design program in Industrial Design.</div>
                                    <div class="col-md-2 program-fav-btn"><span class="glyphicon glyphicon-star-empty"></span>
                                        <br>
                                        <span class="fav-btn-text">Mark Diploma as Favourite</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading collapsed" role="tab" id="diploma-heading-5" data-toggle="collapse" href="#diploma-collapse-5" aria-expanded="false" aria-controls="diploma-collapse-5">
                            <div class="col-md-1 panel-title"><div class="expand-btn btn-xs" href="#"><span class="glyphicon glyphicon-plus"></span></div></div>
                            <div class="col-md-4 panel-title">Bachelor in Industrial<img class="program-flag" src="images/modal/uk_flat.png" height='20px'/></div>
                            <div class="col-md-5 panel-title">4 Years</div>
                            <div class="col-md-2 panel-title">15,000 $</div>
                        </div>
                        <div id="diploma-collapse-5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="diploma-heading-5">
                            <div class="panel-body">
                                <div class="rowx">
                                    <div class="col-md-5">
                                       
                                        <ul class="nav nav-tabs" role="tablist">
                                            <li role="presentation" class="active"><a href=""  data-target="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Year 1</a>
                                            </li>
                                            <li role="presentation"><a href data-target="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Year 2</a>
                                            </li>
                                            <li role="presentation"><a href data-target="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Year 3</a>
                                            </li>
                                            <li role="presentation"><a href data-target="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">Year 4</a>
                                            </li>
                                        </ul>
    
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="tab1">
                                                <br>tab1</div>
                                            <div role="tabpanel" class="tab-pane" id="tab2">
                                                <br>tab2</div>
                                            <div role="tabpanel" class="tab-pane" id="tab3">
                                                <br>tab3</div>
                                            <div role="tabpanel" class="tab-pane" id="tab4">
                                                <br>tab4</div>
                                        </div>
                                    </div>
                                    <div class="col-md-5 program-desc">Industrial Design Centre (IDC) is the second oldest design school in India, established in 1969 by the Government of India at the campus of the Indian Institute of Technology Bombay. It offers the following academic programs: an integrated Bachelor of Design degree (B Des) program and an interdisciplinary Master of Design program in Industrial Design.</div>
                                    <div class="col-md-2 program-fav-btn"><span class="glyphicon glyphicon-star-empty"></span>
                                        <br>
                                        <span class="fav-btn-text">Mark Diploma as Favourite</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
            
            <!--<div class="">
                <table class="table table-condensed table-programs">
                    <thead>
                        <tr>
                            <th>&nbsp;</th>
                            <th>Name</th>
                            <th>Duration</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                     <tbody>
                         <tr class="row-heads" data-toggle="collapse" data-target="#demo1" >
                             <td>
                                 <div class="expand-btn btn-xs" href="#"><span class="glyphicon glyphicon-plus"></span>
                                 </div>
                             </td>
                             <td>Bachelor in Industrial<img class="program-flag" src="images/modal/uk_flat.png" height='20px'/></td>
                             <td>4 Years</td>
                             <td>15,000 $</td>
                         </tr>
                         <tr>
                             <td colspan="12" class="hiddenRow">
                                 <div class="accordian-body collapse" id="demo1">
                                     <div class="rowx">
                                         <div class="col-md-5">
                                            
                                             <ul class="nav nav-tabs" role="tablist">
                                                 <li role="presentation" class="active"><a href=""  data-target="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Year 1</a>
                                                 </li>
                                                 <li role="presentation"><a href data-target="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Year 2</a>
                                                 </li>
                                                 <li role="presentation"><a href data-target="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Year 3</a>
                                                 </li>
                                                 <li role="presentation"><a href data-target="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">Year 4</a>
                                                 </li>
                                             </ul>

                                            
                                             <div class="tab-content">
                                                 <div role="tabpanel" class="tab-pane active" id="tab1">
                                                     <br>tab1</div>
                                                 <div role="tabpanel" class="tab-pane" id="tab2">
                                                     <br>tab2</div>
                                                 <div role="tabpanel" class="tab-pane" id="tab3">
                                                     <br>tab3</div>
                                                 <div role="tabpanel" class="tab-pane" id="tab4">
                                                     <br>tab4</div>
                                             </div>
                                         </div>
                                         <div class="col-md-5 program-desc">Industrial Design Centre (IDC) is the second oldest design school in India, established in 1969 by the Government of India at the campus of the Indian Institute of Technology Bombay. It offers the following academic programs: an integrated Bachelor of Design degree (B Des) program and an interdisciplinary Master of Design program in Industrial Design.</div>
                                         <div class="col-md-2 program-fav-btn"><span class="glyphicon glyphicon-star-empty"></span>
                                             <br>
                                             <span class="fav-btn-text">Mark Diploma as Favourite</span>
                                         </div>
                                     </div>
                                 </div>
                             </td>
                         </tr>
                         <tr class="row-heads" data-toggle="collapse" data-target="#demo2" >
                             <td>
                                 <div class="expand-btn btn-xs" href="#"><span class="glyphicon glyphicon-plus"></span>
                                 </div>
                             </td>
                             <td>Bachelor in Industrial<img class="program-flag" src="images/modal/uk_flat.png" height='20px'/></td>
                             <td>4 Years</td>
                             <td>15,000 $</td>
                         </tr>
                         <tr>
                             <td colspan="12" class="hiddenRow">
                                 <div class="accordian-body collapse" id="demo2">
                                     <div class="rowx">
                                         <div class="col-md-5">
                                           
                                             <ul class="nav nav-tabs" role="tablist">
                                                 <li role="presentation" class="active"><a href=""  data-target="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Year 1</a>
                                                 </li>
                                                 <li role="presentation"><a href data-target="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Year 2</a>
                                                 </li>
                                                 <li role="presentation"><a href data-target="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Year 3</a>
                                                 </li>
                                                 <li role="presentation"><a href data-target="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">Year 4</a>
                                                 </li>
                                             </ul>

                                           
                                             <div class="tab-content">
                                                 <div role="tabpanel" class="tab-pane active" id="tab1">
                                                     <br>tab1</div>
                                                 <div role="tabpanel" class="tab-pane" id="tab2">
                                                     <br>tab2</div>
                                                 <div role="tabpanel" class="tab-pane" id="tab3">
                                                     <br>tab3</div>
                                                 <div role="tabpanel" class="tab-pane" id="tab4">
                                                     <br>tab4</div>
                                             </div>
                                         </div>
                                         <div class="col-md-5 program-desc">Industrial Design Centre (IDC) is the second oldest design school in India, established in 1969 by the Government of India at the campus of the Indian Institute of Technology Bombay. It offers the following academic programs: an integrated Bachelor of Design degree (B Des) program and an interdisciplinary Master of Design program in Industrial Design.</div>
                                         <div class="col-md-2 program-fav-btn"><span class="glyphicon glyphicon-star-empty"></span>
                                             <br>
                                             <span class="fav-btn-text">Mark Diploma as Favourite</span>
                                         </div>
                                     </div>
                                 </div>
                             </td>
                         </tr>
                         
                         <tr class="row-heads" data-toggle="collapse" data-target="#demo3" >
                             <td>
                                 <div class="expand-btn btn-xs" href="#"><span class="glyphicon glyphicon-plus"></span>
                                 </div>
                             </td>
                             <td>Bachelor in Industrial<img class="program-flag" src="images/modal/uk_flat.png" height='20px'/></td>
                             <td>4 Years</td>
                             <td>15,000 $</td>
                         </tr>
                         <tr>
                             <td colspan="12" class="hiddenRow">
                                 <div class="accordian-body collapse" id="demo3">
                                     <div class="rowx">
                                         <div class="col-md-5">
                                           
                                             <ul class="nav nav-tabs" role="tablist">
                                                 <li role="presentation" class="active"><a href=""  data-target="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">Year 1</a>
                                                 </li>
                                                 <li role="presentation"><a href data-target="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Year 2</a>
                                                 </li>
                                                 <li role="presentation"><a href data-target="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">Year 3</a>
                                                 </li>
                                                 <li role="presentation"><a href data-target="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">Year 4</a>
                                                 </li>
                                             </ul>

                                           
                                             <div class="tab-content">
                                                 <div role="tabpanel" class="tab-pane active" id="tab1">
                                                     <br>tab1</div>
                                                 <div role="tabpanel" class="tab-pane" id="tab2">
                                                     <br>tab2</div>
                                                 <div role="tabpanel" class="tab-pane" id="tab3">
                                                     <br>tab3</div>
                                                 <div role="tabpanel" class="tab-pane" id="tab4">
                                                     <br>tab4</div>
                                             </div>
                                         </div>
                                         <div class="col-md-5 program-desc">Industrial Design Centre (IDC) is the second oldest design school in India, established in 1969 by the Government of India at the campus of the Indian Institute of Technology Bombay. It offers the following academic programs: an integrated Bachelor of Design degree (B Des) program and an interdisciplinary Master of Design program in Industrial Design.</div>
                                         <div class="col-md-2 program-fav-btn"><span class="glyphicon glyphicon-star-empty"></span>
                                             <br>
                                             <span class="fav-btn-text">Mark Diploma as Favourite</span>
                                         </div>
                                     </div>
                                 </div>
                             </td>
                         </tr>
                         
                     </tbody>
                </table>
            </div>-->
        </div>
    </div>
</div>
<script type="text/javascript">
    /*$(".row-heads").click(function(){
        setTimeout(function() {
            var d = $("#custom-modal-1").find(".modal-body").eq(0);
            var scrollHeight = (d.prop("scrollHeight"));
            d.scrollTop(scrollHeight);
        },300);
    });*/
    
//    $('.row-heads').on('click', function(){
//	      var topPos = $(this).offset().top;
//	       $('.modal-body').animate({
//	      	  scrollTop: topPos  + 250
//	      },1000);
//	      
//	});

	/*$('.panel-heading').bind('click', function(){
    	alert(1);
          var topPos = $(this).offset().top;
	       $('.modal-body').animate({
	      	  scrollTop: topPos  + 250
	      },1000);
	      
	});*/
</script>
