<div class="row">
    <!-- first div -->
    <div class="col-md-3 col-sm-6 col-md-padding margin-bottom-20 ">
        <div class="col-md-12 read-more-div first-div-background">
            <div class="row height-100">
                <div class="col-md-12 col-md-padding">
                    <div class="col-md-12 col-md-padding read-more-text-div">
                        <h4 class="profile-text-color margin-top-20">Lorem ipsum dolor </h4>
                        <p class="profile-text-color">Odio lectus, in consequat mauris tris-tique ac. Donec quirs mi vairus, volutpat felis nec, finibus tortor .... </p>
                        <div class="read-more-button">
                            <a href="#" class="profile-read-more-color"> Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-md-padding read-more-image-div">
                    <img src="images/universities/KobeSchoolOfBusinessAndDevelopment_Room_03.jpg" class="img-responsive read-more-image">
                </div>
            </div>
        </div>
    </div>
    <!-- second div -->
    <div class="col-md-3 col-sm-6 col-md-padding margin-bottom-20 ">
        <div class="col-md-12 read-more-div">
            <div class="row height-100">
                <div class="col-md-12 col-md-padding read-more-image-div">
                    <img src="images/universities/KobeSchoolOfBusinessAndDevelopment_Room_02.jpg" class="img-responsive read-more-image">
                </div>
                <div class="col-md-12 col-md-padding">
                    <div class="col-md-12 col-md-padding read-more-text-div">
                        <h4 class="profile-text-color margin-top-20">Lorem ipsum dolor </h4>
                        <p class="profile-text-color margin-bottom-20">Odio lectus, in consequat mauris tris-tique ac. Donec quirs mi vairus, volutpat felis nec, finibus tortor .... </p>
                        <div class="read-more-button">
                            <a href="#" class="profile-read-more-color"> Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- third div -->
    <div class="col-md-3 col-sm-6 col-md-padding margin-bottom-20 ">
        <div class="col-md-12 read-more-div first-div-background">
            <div class="row height-100">
                <div class="col-md-12 col-md-padding height-100">
                    <div class="col-md-12 col-md-padding read-more-text-div height-100">
                        <h4 class="profile-text-color margin-top-20">Vivamus ornare </h4>
                        <p class="profile-text-color margin-bottom-20">
                            Odio lectus, in conswquat mauris tris-tique ac. Donec quis mi varius, volutpat felis nec, finibus tortor.
                            Etiam pulvinar urna eget egestas vehicula. Sed nisi magana, bibendum quis tortor sceleris que, molestie mattis magana. Duis mo-lestie
                        </p>
                        <div class="read-more-button">
                            <a href="#" class="profile-read-more-color"> Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ADD AN EVENT div -->
    <div class="col-md-3 col-sm-6 col-md-padding margin-bottom-20 ">
        <div class="col-md-12 read-more-div ">
            <div class="add-an-event" ng-click="">
                <div class="add-an-event-img">
                    <img src="images/add-more.png">
                    <p class="profile-read-more-color add-an-event-text"> ADD AN EVENT</p>
                </div>
            </div>
        </div>
    </div>
</div>