<div class="row">
    <div class="col-md-3 col-sm-3 col-md-padding profile-message-left" >
        <ul class="list-group">
            <li class="list-group-item list-group-item-active"><a href="">ALL</a></li>
            <li class="list-group-item"><a href="">WITH APPLICATION</a></li>
            <li class="list-group-item"><a href="">COMPLETED</a></li>
            <li class="list-group-item"><a href="">ACCEPTED</a></li>
            <li class="list-group-item"><a href="">REJECTED</a></li>
        </ul>
    </div>

    </div>
</div>