<!--<div id="mainSliderShow" style="width: 100%;" ng-show="showMainSlick">-->
    <!--<slick class="main-slider"  settings="slickSetting" data="university.pictures" ng-if="university.pictures.length">-->
        <!--<div class='main-img' ng-repeat="itemImage in  university.pictures">-->
            <!--<a title="{{itemImage.title}}"  rel="dorm-carousel" href="images/universities/{{itemImage.url}}" fancyboxable>-->
                <!--<img ng-src="images/universities/{{ itemImage.url }}" class="img-responsive"/>-->
            <!--</a>-->
        <!--</div>-->
    <!--</slick>-->
<!--</div>-->
<!--<popup-info class='ng-cloak' university="university"></popup-info>-->