<popup-info ng-cloak university="university"></popup-info>
<div class="popup-2">
    <div class="pop-head">DIPLOMAS :</div>
    <div class="pop-text">Undergraduate - Postgraduate - Language Course - Other Certificates</div>
    <div class="pop-head">COURSES :</div>
    <div class="pop-text">Undergraduate - Postgraduate - Language Course - Other Certificates</div>
    <div class="pop-head">ACCOMODATION :</div>
    <div class="pop-text">Undergraduate - Postgraduate - Language Course - Other Certificates</div>
</div>